<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this:: content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Guestbook Register Page</h1>
        <form>
            <div>
                <label></label>
                <input>
            </div>
            <div>
                <label></label>
                <textarea></textarea>
            </div>
            <div>
                <label></label>
                <input>
            </div>
            <button></button>
        </form>
    </th:block>
</th:block>
</html>